.forsaken_calendar_table, .forsaken_calendar_table th, .forsaken_calendar_table td
{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
}

.forsaken_calendar_table.forsaken_calendar_table td, .forsaken_calendar_table th
{
    width: 100px;
}

.forsaken_calendar_table.forsaken_calendar_table tbody td, .forsaken_calendar_table tbody th
{
    height: 100px;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}

.forsaken_calendar_table .notThisMonth
{
    background-color: black;
}

.forsaken_calendar_dateHolder
{
    background-color: #999999;
    padding: 0px;
    margin: 0px;
}

.forsaken_calendar_outer
{
    position: relative;
}

.forsaken_calendar_phase, .forsaken_calendar_time
{
    font-size: 0.65em;
}

.moonPhase
{
    font-size: 1.5em;
}

.forsaken_calendar_moon
{
    background-repeat: no-repeat;
    background-position: center;
    height: 75px;
}

.forsaken_calendar_rahu
{
    background-image:url("/images/fullMoon.png");
}

.forsaken_calendar_elodoth
{
    background-image:url("/images/halfMoon.png");
}

.forsaken_calendar_ithaeur
{
    background-image:url("/images/crescentMoon.png");
}

.forsaken_calendar_cahalith
{
    background-image:url("/images/gibbous.png");
}

.forsaken_calendar_irraka
{
    background-image:url("/images/newMoon.png");
}

.today
{
    font-weight: bold;
    background-color: lightgray;
}